<div class="container-fluid">

	<div class="row">
		<div class="col-xs-12">
			<span class="float-left">Population <span class="population"></span></span>
			<span class="float-right">Room <span class="roomId"></span></span>
		</div>
	</div>

	<div class="row">
		<div class="col-xs-12">
			<div class="align-center full-width">Now playing: <span id="currentTrack"></span></div>
		</div>
	</div>

	<div class="row">
		<div class="col-xs-12">
			<span>Suggest the next track...</span>
			<div class="form-group">
				<input id="search" type="text" onkeypress="search(event)" class="form-control input-lg" placeholder="Search...">
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-xs-12">
			<div id="search-results"></div>
		</div>
	</div>

	<div class="row">
		<div class="col-xs-12">
			<div id="votes-display"></div>
		</div>
	</div>

</div>
